.container{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 2em 0;
    justify-content: space-evenly;
}

.form__image{
    border-radius: fixed;
}

.Addmoviesform__right{
    display: flex;
    margin: 2em 0;
    flex-direction: column;
    justify-content: center;
}

.Addmoviesform__right h2{
    margin-left: auto;
    margin-right: auto;
    color: #4361ee;
    margin: 1em;
}

.Addmovies_notes{
    margin-bottom: 1rem;
    font-size: 2.44rem;
    color: #4361ee;
}

.form__input{
    display: flex;
    margin: 1em;
    flex-direction: column;
}

label{
    color: #4361ee;
    font-size: 12pt;
    font-family: perpetua;
}

.form__output{
    margin-top: 0.8em;
    border: 1px solid #4361ee;
    border-radius: 7px;
    height: 3em;
}

.form__btn{
    width:10em;
    height: 3.5em;
    color: #fff;
    background-color: #4361ee;
    border: 0;
    padding: 0.5em 0;
    border-radius: 7px;
}